# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
*.R
!templates/copilot-consumption/consumption-contracts.R
!templates/copilot-consumption/generate-demo-data.R
!templates/github-developer-experience/github-developer-experience-helpers.R
!templates/github-developer-experience/render-github-developer-experience.R
!templates/top-performers-random-forest/generate-demo-data.R
!templates/tests/
!templates/tests/*.R
templates/github-developer-experience/_data/github/
templates/exp-report/exp report testing only.html
templates/exp-report/exp report.html
templates/exp-report/*.csv
